$clr-color: rgb(197, 47, 46);
$clr-shadow-color: rgb(147, 37, 38);
$operator-color: rgb(70, 74, 77);
$operator-shadow-color: rgb(26, 26, 26);
$special-color: rgb(237, 107, 21);
$special-shadow-color: rgb(183, 72, 1);
$add-digit-color: rgb(132, 122, 212);
$add-digit-shadow-color: rgb(64, 55, 126);
$update-button-color: rgb(61, 142, 41);
$update-button-shadow-color: rgb(45, 104, 28);
$empty-color: rgb(181, 175, 163);

@mixin calculator-button($color, $shadow-color) {
    transition: all .15s ease;
    background-color: $color;
    box-shadow: $shadow-color 0 0.65rem;

    &:active {
        transform: translateY(0.65rem);
        box-shadow: none;
    }
}

@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf');
}

* {
    font-family: sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculator-container {
    padding: 1.5rem;
    display: grid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid black;
    border-radius: 25px;
    width: auto;
    height: auto;
    grid-template-areas:
        "screen"
        "buttons";
    grid-template-rows: auto 1fr auto;
    background-color: rgb(228, 220, 209);

    .buttons-container {
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-area: buttons;
        padding: 1rem;
        gap: 1.25rem;

        button {
            width: 9rem;
            height: 6.5rem;
            font-size: 2.7rem;
        }
    }
}

.editor-container {
    width: auto;
    height: auto;
    border: 0.2rem solid black;
    position: fixed;
    display: none; //change back to none
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    padding: 2.5rem;
    border-radius: 1rem;
    // background-color: rgb(228, 220, 209); // might change

    .editor-buttons-container {
        height: 100%;
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.25rem 0.75rem;

        button {
            width: 9rem;
            height: 8rem;
            font-size: 2.25rem;
        }
    }
}

.hidden {
    display: none;
}

#inputs {
    margin-top: 1.75rem;
    font-size: 3rem;

    select {
        font-size: 3rem;
        transform: translateY(0.25rem);
        margin: 0.35rem;
        margin-left: 0.65rem;
        padding: 0 0.2rem 0.1rem 0.5rem;
        border-radius: 0.4rem;
        background-color: #fff;
    }
    
    input {
        margin-top: 0.75rem;
        margin-left: 0.65rem;
        border-radius: 0.4rem;
        border: 1px solid;
        width: 9rem;
        height: 2.75rem;
        font-size: 2.5rem;
    }
}

.screen {
    background-color: rgb(167, 185, 161);
    padding: 1rem;
    border-radius: 1rem;
    grid-area: screen;
    display: grid;
    grid-template-areas:
        "level-info"
        "result";
}

.screen-outline {
    /* height: 100%; */
    padding: 1.5rem 2rem;
    background-color: rgb(55, 61, 63);
    height: auto;
    border-radius: 1rem;
}

.clr {
    @include calculator-button($clr-color, $clr-shadow-color);
}

.operator {
    @include calculator-button($operator-color, $operator-shadow-color);
    letter-spacing: 0.1rem;
}

.special {
    @include calculator-button($special-color, $special-shadow-color);
    font-size: 2.2rem !important;
}

.add-digit {
    @include calculator-button($add-digit-color, $add-digit-shadow-color);
}

.update {
    @include calculator-button($update-button-color, $update-button-shadow-color)
}

.empty {
    background-color: $empty-color;
}

.selected {
    outline: 0.18rem solid rgb(13, 147, 13);
}

#result {
    font-family: 'Digital-7';
    text-align: right;
    font-size: 6.5rem;
    padding: 0.5rem 0 0 0;
}

.level-info {
    grid-area: level-info;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: rgb(167, 185, 161);
}

#goal,
#moves {
    padding: 1rem;
    background-color: rgb(61, 61, 61);
    border-radius: 0.25rem;
}

.inputs-container {
    border: 0.2rem solid black;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-16%, -50%);
    border-radius: 1rem;

    button {
        font-size: 3rem;
        display: flex;
        margin: 0 auto 3rem ;
        padding: 1.25rem;
    }

    h1 {
        margin-top: 1.75rem;
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }

    .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        margin: 2rem;

        label {
            margin-right: 10px;
            font-weight: bold;
            font-size: 2.5rem;
        }

        input {
            padding: 0.5rem;
            max-width: 10rem;
            font-size: 2rem;
            border-radius: 0.5rem;
            border: 2px solid #ccc;
        }
    }
}
