$clr-color: rgb(197, 47, 46);
$clr-shadow-color: rgb(147, 37, 38);
$operator-color: rgb(70, 74, 77);
$operator-shadow-color: rgb(26, 26, 26);
$special-color: rgb(237, 107, 21);
$special-shadow-color: rgb(183, 72, 1);
$add-digit-color: rgb(132, 122, 212);
$add-digit-shadow-color: rgb(64, 55, 126);
$empty-color: rgb(181, 175, 163);

@mixin calculator-button($color, $shadow-color) {
    transition: all .15s ease;
    background-color: $color;
    box-shadow: $shadow-color 0 0.65rem;

    &:active {
        transform: translateY(0.65rem);
        box-shadow: none;
    }
}

@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf');
}

* {
    // outline: 1px dashed red; 
    font-family: sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

.calculator-container {
    padding: 1.5rem;
    display: grid;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid black;
    border-radius: 25px;
    width: 27%;
    /* adjust later */
    height: 70%;
    grid-template-areas:
        "screen"
        "buttons";
    grid-template-rows: auto 1fr auto;
    background-color: rgb(228, 220, 209);
}

.editor-container {
    width: 25%;
    height: 70%;
    border: 0.2rem solid black;
    position: fixed;
    display: grid; //change back to none
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(228, 220, 209); // might change
    // grid-template-areas: 
    // "editor-buttons-container"
    // "add-button add-button add-button"
    // "input input input";

    .editor-buttons-container {
        height: 80%;
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.25rem 0.75rem;

        button {
                cursor: pointer;
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                font-size: 2.25rem;
                color: rgb(234, 216, 212);
                border: none;
                text-align: center;
            }
    }


}

.screen {
    background-color: rgb(167, 185, 161);
    padding: 1rem;
    border-radius: 1rem;
    grid-area: screen;
    display: grid;
    grid-template-areas:
        "level-info"
        "result";
}

.screen-outline {
    /* height: 100%; */
    padding: 1.5rem 2rem;
    background-color: rgb(55, 61, 63);
    height: auto;
    border-radius: 1rem;
}

.buttons-container {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: buttons;
    padding: 1rem;
    gap: 1.25rem;

    button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        color: rgb(234, 216, 212);
        border: none;
        text-align: center;
    }
}

.clr {
    @include calculator-button($clr-color, $clr-shadow-color);
}

.operator {
    @include calculator-button($operator-color, $operator-shadow-color);
    letter-spacing: 0.1rem;
}

.special {
    @include calculator-button($special-color, $special-shadow-color);
}

.add-digit {
    @include calculator-button($add-digit-color, $add-digit-shadow-color);
}

.empty {
    background-color: $empty-color;
}

.selected {
    outline: 0.18rem solid rgb(13, 147, 13);
}

#result {
    font-family: 'Digital-7';
    text-align: right;
    font-size: 6.5rem;
    padding: 0.5rem 0 0 0;
}

.level-info {
    grid-area: level-info;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: rgb(167, 185, 161);
}

#goal,
#moves {
    padding: 1rem;
    background-color: rgb(61, 61, 61);
    border-radius: 0.25rem;
}